@{
    Layout = "_AdminLayout";
    var bloodlist = ViewData["bloodgroup"] as IEnumerable<BloodGroup>;
}





<div class="bodywrapper__inner">
    <div class="row align-items-center mb-30 justify-content-between">
        <div class="col-lg-6 col-sm-6">
            <h6 class="page-title">Manage Blood Group</h6>
        </div>
        <div class="col-lg-6 col-sm-6 text-sm-right mt-sm-0 mt-3 right-part">
            <a href="javascript:void(0)" class="btn btn-sm btn--primary box--shadow1 text--small addBlood"><i class="fa fa-fw fa-paper-plane"></i>Add Blood Group</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card b-radius--10 ">
                <div class="card-body p-0">
                    <div class="table-responsive--sm table-responsive">
                        <table class="table table--light style--two">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Last Update</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in bloodlist)
                                {

                                    <tr>
                                        <td data-label="Name">@item.Name</td>
                                        <td data-label="Status">
                                            <span class="badge badge--success">@item.Status</span>
                                        </td>
                                        <td data-label="Last Update">
                                            @item.LastUpdated
                                            <br>  @item.LastUpdated.Subtract(DateTime.Now).Days Days Ago
                                        </td>
                                        <td data-label="Action">
                                            <a href="javascript:void(0)" class="icon-btn btn--primary ml-1 updateBlood"
                                               data-id="8"
                                               data-name="O-"
                                               data-status="1"><i class="las la-pen"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">




                            <li>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>

    @*
    <div id="bloodCreateModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Add Blood Group</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form action="https://script.viserlab.com/bloodlab/admin/blood/store" method="POST">
    <input type="hidden" name="_token" value="dFuNdwAwTOrIL6DCqoSL8QlER00aFyWBU43mMfW6">                    <div class="modal-body">
    <div class="form-group">
    <label for="name" class="form-control-label font-weight-bold">Name</label>
    <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Enter Blood Group Name" maxlength="60" required="">
    </div>

    <div class="form-group">
    <label class="form-control-label font-weight-bold">Status </label>
    <input type="checkbox" data-width="100%" data-onstyle="-success" data-offstyle="-danger"
    data-toggle="toggle" data-on="Enable" data-off="Disable" name="status">
    </div>

    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn--dark" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn--primary"><i class="fa fa-fw fa-paper-plane"></i>Create</button>
    </div>
    </form>
    </div>
    </div>
    </div>


    <div id="updateBloodModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Update Blood Group</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form action="https://script.viserlab.com/bloodlab/admin/blood/update" method="POST">
    <input type="hidden" name="_token" value="dFuNdwAwTOrIL6DCqoSL8QlER00aFyWBU43mMfW6">                    <input type="hidden" name="id">
    <div class="modal-body">
    <div class="form-group">
    <label for="name" class="form-control-label font-weight-bold">Name</label>
    <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Enter Blood Group Name" maxlength="60" required="">
    </div>

    <div class="form-group">
    <label class="form-control-label font-weight-bold">Status </label>
    <input type="checkbox" data-width="100%" data-onstyle="-success" data-offstyle="-danger"
    data-toggle="toggle" data-on="Enable" data-off="Disabled" name="status">
    </div>

    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn--dark" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn--primary"><i class="fa fa-fw fa-paper-plane"></i>Update</button>
    </div>
    </form>
    </div>
    </div>
    </div>*@
</div>


